<div class="p-8 text-center">
  <h1 class="text-2xl mb-4">Board</h1>
  
  <div id="timer-container" 
    phx-hook="Timer" 
    phx-update="ignore" 
    data-seconds="60" 
    aria-live="polite"> 
    <div class="timer-display"></div> 
  </div>
  
  <div
    id="moving-block-container"
    phx-hook="MovingBlock"
    data-pieces={Jason.encode!(@pieces)}
    data-rows="20"
    data-cols="20"
    style="position: relative; display: inline-block;"
  >
    <.blokus_board board={@board} />
    
    <div class="moving-block" data-row="0" data-col="0"></div>
    
    <!-- leave in for use with JS measurements -->
    <div class="blokus-tile w-8 h-8" style="position: absolute; opacity: 0; pointer-events: none;">
    </div>
  </div>
</div>
